<h1>Car Alarms Reported in <%= @borough %></h1>

<form action="/events/borough" method="POST">
 <div class="form-group">
    <label for="borough">Change borough:</label>
    <select class="form-control" name="borough" id="borough">
      <option value="Brooklyn">Brooklyn</option>
      <option value="Bronx">Bronx</option>
      <option value="Manhattan">Manhattan</option>
      <option value="Staten Island">Staten Island</option>
      <option value="Queens">Queens</option>
    </select>
  </div>

  <input class="btn btn-default" type="submit" value="Submit">

</form>

<% Event.all.reverse.each do |event| %>
<% if event.borough == @borough %>
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Approximate address: <a href="/events/<%= event.id %>"><%= event.address %></h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Model of Car: <%= event.car_model %></li>
    <li class="list-group-item">License Plate Number: <%= event.license_plate %></li>
    <li class="list-group-item">Reported at: <%= event.created_at %></li>
    <li class="list-group-item"><%= event.comments.count %> Comments</li>
  </ul>
</div>
<% end %>
<% end %>

 