<% if flash.has?(:message) %>
  <h2><%= flash[:message] %></h2>
<% end %>

<div class="panel panel-danger show">
  <div class="panel-heading">
    <h3 class="panel-title">Approximate address: <%= @event.address %></h3>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Reported at:
    <% t = @event.created_at + Time.zone_offset('EST') %>
    <%= t.strftime('%r, %A %B %d %Y') %></li>
    <li class="list-group-item">Model of Car: <%= @event.car_model %></li>
    <li class="list-group-item">License Plate Number: <%= @event.license_plate %></li>
  </ul>
</div>

<%if current_user.events.include?(@event) %>

  <a href="/events/<%= @event.id %>/edit" class="btn btn-primary btn-md" role="button">Edit Alarm</a>

  <form action="/events/<%= @event.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input class="btn btn-danger btn-md" type="submit" value="Delete Alarm">
  </form>
  
<% end %>


<h3><%= @event.comments.count %> Comments</h3>
  <% @event.comments.each do |comment| %>
  <div class="comments-list">
    <h4 class="user_name"><% user = User.find(comment.user_id) %><%= user.username %></h4>
<%= comment.content %>
<p class="pull-right"><small><% t = comment.created_at + Time.zone_offset('EST') %>
    <%= t.strftime('%r, %A %B %d %Y') %></small></p>
</div>
<% end %>


<form action="/comments" method="POST">
  <label for="content">Add Comment:</label>
  <input type="text" id="content" name="content">
  <input type="hidden" name="event_id" value="<%= @event.id %>">
  <input class="btn btn-secondary btn-sm" type="submit" value="Submit Comment">
</form>
