<% if flash.has?(:message) %>
  <h4><%= flash[:message] %></h4>
<% end %>

<h4>Approximate address: <%= @event.address %>&nbsp<%= @event.borough %></h4>
<h4>Model of Car: <%= @event.car_model %></h4>
<h4>License Plate Number: <%= @event.license_plate %></h4>
<h4>Reported at: <%= @event.created_at %></h4>

<%if current_user.events.include?(@event) %>

  <h3><a href="/events/<%= @event.id %>/edit">Edit Alarm</a></h3>

  <form action="/events/<%= @event.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Alarm">
  </form>
  
<% end %>

<h3><%= @event.comments.count %> Comments</h3>
<% @event.comments.each do |comment| %>
<%= comment.content %>
<% user = User.find(comment.user_id) %>
<p><%= user.username %></p>
<% end %>

<form action="/comments" method="POST">
<label for="content">Add Comment:</label>
<input type="text" id="content" name="content">
<input type="hidden" name="event_id" value="<%= @event.id %>">
<input type="submit" value="Submit Comment">
</form>